@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

h1 {
text-align: center;
margin-bottom: 5rem;
font-size: 3rem;
text-transform: uppercase;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
text-shadow: 2px 2px grey;
}

table {
    width: 100%;
    height: auto;
    background-color: #058FB2;
    table-layout: fixed;
}

table, th, td {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.3vw;
}

td {
    word-wrap: break-word;
}

td,th {
    width: 12vh;
    height: 8vh;
    text-align: center;
    background-color: #F9AE33;
}

td:hover {
    background-color: #C8D9CD;
    transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s;
    font-weight: 900;
    font-size: 1.5vw;
    cursor: pointer;
}

td:active {
    background-color: #C8D9CD;
    font-weight: 900;
    font-size: 1.5vw;
}

th {
    font-weight: 900;
    background-color: #57C7EB;
    font-size: 1.5vw;
}

#blank {
    background-color: #058FB2;
    border: none;
}